@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap");
.space-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-ard, .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-cnt, .header__header, .header__list, .hero, .experience, .experience .card-wrapper, .experience .card, .contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-cnt, .hero, .life__article-left, .experience, .experience .card, .contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end, .progress__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fd-clm, .hero, .life__article-left, .experience, .experience .card, .contacts__form, .contacts__fieldset, .contacts__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-s-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.justify-s-end, .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #1b1b2f;
}

button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
legend {
  font-family: "MuseoModerno", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

a::after {
  content: "";
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: 1px solid white;
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

a:hover::after {
  content: "";
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 100%;
  background: #517d8f;
  border-radius: 0px 0px 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
}

.header__header {
  width: 40%;
  margin-left: 20px;
  font-size: 1.6rem;
}

.header__list {
  width: 60%;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}

.hero {
  margin: 93px 10px 10px 10px;
  height: calc(100vh - (83px + 20px));
  border-radius: 16px;
  background: #aa4b6b;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#aa4b6b), color-stop(#6b6b83), to(#3b8d99));
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}

.hero__header {
  font-size: 4rem;
  margin: 0;
}

.hero__txt {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 10px;
}

.hero__btn {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 7px 15px;
  border-radius: 16px;
  margin-top: 20px;
  color: gray;
  font-family: "MuseoModerno", cursive;
}

.hero__btn {
  -webkit-transition: 0.2s color, 0.2s background-color, 0.2s -webkit-transform;
  transition: 0.2s color, 0.2s background-color, 0.2s -webkit-transform;
  transition: 0.2s color, 0.2s background-color, 0.2s transform;
  transition: 0.2s color, 0.2s background-color, 0.2s transform, 0.2s -webkit-transform;
}

.hero__btn:hover {
  color: black;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hero__btn:active {
  color: #363636;
  background-color: #cfcfcf;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.life {
  margin-top: 20px;
  height: calc(100vh - (83px + 10px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.life__article {
  border-radius: 16px;
  margin: 10px;
}

.life__article-left {
  background: #aa4b6b;
  border-radius: 16px;
  width: 45%;
  padding: 25px;
}

.life__article-right {
  width: 55%;
}

.article__header {
  font-size: 2.4rem;
  width: 100%;
  margin-top: 0;
}

.article__list {
  list-style: none;
  padding-left: 15px;
}

.article__list-header {
  font-size: 2rem;
  margin-bottom: 0;
}

.article__list-txt {
  font-size: 1.2rem;
}

.article-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(33.333% - 6.45px);
  margin: 10px 0px 10px 0px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.article-img:first-of-type {
  margin: 0;
}

.article-img:last-of-type {
  margin: 0px;
}

.experience {
  margin-top: 20px;
  margin: 10px;
  border-radius: 16px;
  padding: 25px;
  height: 650px;
  background: #637086;
}

.experience__header {
  font-size: 2.4rem;
  margin-bottom: 50px;
}

.experience .card {
  width: 25%;
  height: 100%;
}

.experience .card__img {
  width: 80%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.progress {
  width: 80%;
  height: 20px;
  background: gray;
  border-radius: 16px;
  margin-top: 25px;
}

.progress__bar {
  border-radius: 16px;
  background: #d84b7a;
}

.progress__bar-html {
  width: 95%;
}

.progress__bar-css {
  width: 80%;
}

.progress__bar-sass {
  width: 65%;
}

.progress__bar-js {
  width: 20%;
}

.progress__indicator {
  display: inline-block;
  height: 20px;
  margin-right: 7px;
}

.contacts {
  height: 650px;
  padding: 25px;
  margin-top: 20px;
  margin: 10px;
  border-radius: 16px;
  background: #7a637d;
}

.contacts__form {
  width: 100%;
  height: 100%;
}

.contacts__fieldset {
  width: 400px;
}

.contacts__legend {
  font-size: 2.4rem;
  padding: 0;
}

.contacts__label {
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 4px;
}

.contacts__label:first-of-type {
  margin-top: 0;
}

.contacts__label-message {
  margin-top: 15px !important;
}

.contacts__input, .contacts__text-message {
  border-radius: 8px;
  padding: 7px;
  font-size: 1.2rem;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  border: 2px solid transparent;
}

.contacts__input:focus, .contacts__text-message:focus {
  border: 2px solid goldenrod;
}

.contacts__text-message {
  width: 100%;
  height: 100px;
  resize: none;
}

.contacts__submit {
  font-size: 1.2rem;
  margin-top: 15px;
  border-radius: 16px;
  padding: 10px 16px 10px 16px;
}

footer {
  background: #292947;
  height: 80px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .life__article {
    border-radius: 16px;
    margin: 5px;
  }
  .article__header {
    font-size: 2rem;
    width: 100%;
    margin: 0;
  }
  .article__list {
    list-style: none;
    padding-left: 15px;
  }
  .article__list-header {
    font-size: 1.6rem;
    margin: 0;
  }
  .article__list-txt {
    font-size: 1.2rem;
  }
}
